<mat-toolbar color="primary">
  <span class="cabecalho">
    <a routerLink="/champions">
      <img src="../assets/img/RITOGOMES.png" alt="Logo Rito Gomes" class="logo">
    </a>
    <span class="cabecalho-content">Campeões do Lolzinho</span>
    <span class="example-spacer"></span>
    <div class="button-info">
      <a href="https://linktr.ee/soldierSH">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>info</mat-icon>
      </button>
      </a>
    </div>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
